{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block container %}
<div class="container-fluid" style="height: 100%;  color:GhostWhite; background :url({% static "img/intro-bg.jpg" %}) no-repeat center top">
<br><br><br><br><br><br><br><br><br><br><br><br>
	<div class="row">
<div class="col-md-4">
  </div>
<div class="col-md-4" style="padding:1px;border:1px groove LightSteelBlue; background-color:#A4A4A4">
<h1>{% trans "Account Inactive" %}</h1>

<p>{% trans "This account is inactive." %}</p>

</div>
</div>



</div>

{% endblock %}
