{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block container %}
{% load static %}

<div class="container-fluid" style="height: 100%;  color:GhostWhite; background :url({% static "img/intro-bg.jpg" %}) no-repeat center top">
<br><br><br><br><br><br><br><br><br><br><br><br>
	<div class="row">
<div class="col-md-4">
  </div>
<div class="col-md-4" style="padding:1px;border:1px groove LightSteelBlue; background-color:#A4A4A4">
<h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

</div>
</div>


<br><br><br><br>
</div>

    

{% endblock %}
