{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Terms{% endblock %}

{% block container %}
{% load staticfiles %}
<!-- Benefits of the Django application -->

	<link rel="stylesheet" href="{% static 'site/css/faq.css' %}">

	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

 <!-- Resource style -->
<body >

<section class="cd-faq1">
<img src='{% static "site/img/faq.jpg" %}' class="img-responsive"/>
</section>


<section class="cd-faq" >
	<ul class="cd-faq-categories" style="padding-top:20px">
		<li><a class="selected" href="#basics">Basics</a></li>
		<li><a href="#mobile">Mobile</a></li>
		<li><a href="#account">Account</a></li>
		<li><a href="#payments">Payments</a></li>
		<li><a href="#privacy">Privacy</a></li>
		<li><a href="#delivery">Delivery</a></li>
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items" >
		<ul id="basics" class="cd-faq-group" >
			<li class="cd-faq-title"><h5>Basics</h5></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How do I change my password?</a>
				<div class="cd-faq-content">
					<p>If you want to change the password for a CPanda account,Go to sign-in and click the forget password tab and enter your email; Password reset link will send that Mail A/C. </p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I sign up?</a>
				<div class="cd-faq-content">
					<p>If you don't have a CPanda account, you can sign up for one in a few steps: Go to signup form using top of page, fill out your name, email address and password. If you don't see the form, click Sign Up, then fill out the form.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can I remove a post?</a>
				<div class="cd-faq-content">
					<p>No you can only edit the post from your add; Post will auto remove within 30 days.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do reviews post?</a>
				<div class="cd-faq-content">
					<p>Go to your profile and see your past history there by section wise(eg.Event, Item or Services)</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="mobile" class="cd-faq-group">
			<li class="cd-faq-title"><h5>Mobile</h5></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How does syncing work?</a>
				<div class="cd-faq-content">
					<p>Working for its.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I upload files from my phone or tablet?</a>
				<div class="cd-faq-content">
					<p>Working for its!</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I link to a file or folder?</a>
				<div class="cd-faq-content">
					<p>Working for its</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h5>Account</h5></li>
			<li>
				<a class="cd-faq-trigger" href="#0">How do I change my password?</a>
				<div class="cd-faq-content">
					<p>You can change your password after getting Activation link on your mail by clicking to rget password tab.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How do I delete my account?</a>
				<div class="cd-faq-content">
					<p>You can not delete you account .</p>
				</div> <!-- cd-faq-content -->
			</li>

			
			<li>
				<a class="cd-faq-trigger" href="#0">I forgot my password. How do I reset it?</a>
				<div class="cd-faq-content">
					<p>If you forgot password so,Go to sign-in and click the forget password tab and enter your email; Password reset link will send that Mail A/C. then open link and follow the steps.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="payments" class="cd-faq-group">
			<li class="cd-faq-title"><h5>Payments</h5></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Can I have an invoice for my subscription?</a>
				<div class="cd-faq-content">
					<p>Answer will update soon.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Why did my credit card or PayPal payment fail?</a>
				<div class="cd-faq-content">
					<p>Answer will update soon!</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Why does my bank statement show multiple charges for one upgrade?</a>
				<div class="cd-faq-content">
					<p>Answer will update soon.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="privacy" class="cd-faq-group">
			<li class="cd-faq-title"><h5>Privacy</h5></li>
			<li>
				<a class="cd-faq-trigger" href="#0">Can I specify my own private key?</a>
				<div class="cd-faq-content">
					<p>Yes after login you can get it on profile .</p>
				</div> <!-- cd-faq-content -->
			</li>

			

			<li>
				<a class="cd-faq-trigger" href="#0">How can I access my account data?</a>
				<div class="cd-faq-content">
					<p>Your account data will be shared publically which helps you to connect mos of person.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How can I control if other search engines can link to my profile?</a>
				<div class="cd-faq-content">
					<p>It will not happend with Us..</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="delivery" class="cd-faq-group">
			<li class="cd-faq-title"><h5>Delivery</h5></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What should I do if my order hasn't been delivered yet?</a>
				<div class="cd-faq-content">
					<p>Re-contact the donater which offers you that item .</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How can I find your international delivery information?</a>
				<div class="cd-faq-content">
					<p>we are working for its.</p>
				</div> <!-- cd-faq-content -->
			</li>

			
			<li>
				<a class="cd-faq-trigger" href="#0">How do I use shipping profiles?</a>
				<div class="cd-faq-content">
					<p>Shipping pole can be only shaed by the donater which offers you the products .</p>
				</div> <!-- cd-faq-content -->
			</li>

			
			
		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->


<script type="text/javascript" src="{% static 'site/js/jquery.mobile.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
{% endblock %}

