
{% load staticfiles %}

      <!-- Some social button for contact will do -->
                 <div class="footer" style="background: #E7E7E7">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
{% block navbar-left %}
  {% include "_navbar.html"  %}
{% endblock %}          </div>
          <div class="col-lg-4">
             <center> <p>&copy; Company {% now 'Y' %}</p> </center>
          </div>
          <div class="col-lg-4 text-right">
            Connect with us on
            <a href="#"><i class="fa fa-facebook"></i> Facebook</a> or
            <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
        </div>
            </div>
      </div>


 
