{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Terms{% endblock %}
{% load staticfiles %}
{% block container %}

<head>

	<link rel="stylesheet" href="{% static 'site/css/faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}"  type="text/css"/>

<!-- cart -->
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<!-- for bootstrap working -->
	
 </head>
<body >

<section class="cd-faq1"></section>
<div id="header-secon-background">Most Importent Terms & Conditions</div>

	 <!-- cd-faq-categories -->
     <section>

	<div class="cd-faq-items content-box1" id="container_bg" >
	<ul type="none" id="basics" class="cd-faq-group content " >
		<h5 class="text_formate" style=" font-size:24px;font-family:'Times New Roman', Times, serif;"><b>Basics Terms</b></h5>
			<li  style="background-color:#666;">
				<a class="cd-faq-trigger" style="color:#FFF; font-size:18px;  padding-left:25px;" href="#0">Basic Terms And Condition Of Company?</a>
				<div class="cd-faq-content paragraph " style="display:block;"> 
					<p>A. If any provision of these General terms and Conditions is held to be unlawful, invalid or unenforceable, that provision shall be deemed severed and the validity and enforceability of the remaining provisions shall not be affected
<br /><br />
B. In the event of there being any conflict between these General Terms and Conditions and the Specific Terms and Conditions that apply specifically to the purchase of certain goods or services through the Website, the Specific terms and Conditions shall prevail.<br /><br />

C. No person who is not a direct a party to any agreement covered by these General Terms and conditions shall have any right under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of the Agreement.

				</div> <!-- cd-faq-content -->
			</li>


		
			<li  style="background-color:#666;">
				<a class="cd-faq-trigger " style="color:#FFF; font-size:18px;" href="#0">What Is The Termination Of Agrement Company Rules ?</a>
				<div class="cd-faq-content paragraph">
					<p>a) The Cardholder may end the Agreement at any time by writing to SBICPSL or calling in to the SBI Card Helpline, and by cutting the card(s) diagonally. All the cards including the add-on cards will be terminated basis the written request. Termination will be effective after payment of all amounts outstanding on the card account.<br /> No annual, joining or renewal fees shall be refunded on a pro-rata basis.<br />
<br />
b) SBICPSL may also restrict, terminate or suspend the use of The Cardholder Account at any time without prior notice.
<br />
SBICPSL can suspend the facility on the Credit Card, if the Cardholder defaults on the payment due or suspended.
<br /><br />
c) In such a situation, the Cardholder must (subject to any default or other notice required by law) immediately pay SBICPSL the total outstanding Balance on the Account. </p>
				</div> <!-- cd-faq-content -->
			</li>
		

		
			
			<li  style="background-color:#666;">
				<a class="cd-faq-trigger" style="color:#FFF; font-size:18px;" href="#0">How do I change my password?</a>
				<div class="cd-faq-content paragraph">
					<p>You can change your password after getting Activation link on your mail by clicking to rget password tab.
                    The Credit Information Bureau India Ltd. (CIBIL), is an initiative of the Government of India and the Reserve Bank of India (RBI) to improve the functionality and stability of the Indian financial system. This is in line with RBI’s efforts to provide an effective mechanism for exchange of information between banks and financial institutions, thereby enabling cardholders to avail of better credit terms from various institutions including default in payments with Financial Institution, employer and to other third parties engaged by SBICPSL for proper operation of card accounts, verification and other administrative services. </p>
				</div> <!-- cd-faq-content -->
			</li>

		
			
			<li  style="background-color:#666;">
				<a class="cd-faq-trigger" style="color:#FFF; font-size:18px;" href="#0">Can I have an invoice for my subscription?</a>
				<div class="cd-faq-content paragraph">
					<p>Answer will update soon.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br /> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, q<br />uis nostrud exercitation u<br />llamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt m<br />ollit anim id est laborum.</p>
				</div> <!-- cd-faq-content -->
			</li>

			
		
			
			<li  style="background-color:#666;">
				<a class="cd-faq-trigger" style="color:#FFF; font-size:18px;" href="#0">Can I specify my own private key?</a>
				<div class="cd-faq-content paragraph" style="color:#00C;">
					<p>Yes after login you can get it on profile .<br />
                    A variation of the ordinary lorem ipsum text has been used in typesetting since the 1960s or earlier, when it was popularized by advertisements for Letraset transfer sheets. <br />It was introduced to the Information Age in the mid-1980s by Aldus </p>
				</div> <!-- cd-faq-content -->
			</li>
		
			
			<li style="background-color:#666;">
				<a class="cd-faq-trigger" style="color:#FFF; font-size:18px;" href="#0">What should I do if my order hasn't been delivered yet?</a>
				<div class="cd-faq-content paragraph">
					<p >Re-contact the donater which offers you that item .
                    The lorem ipsum text is typically a scrambled section of De finibus bonorum et malorum, a 1st-century BC Latin text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin.<br />SBICPSL may also share Cardholder information with any parent, subsidiary, affiliate or associate of SBICPSL, for the purposes of marketing.</p>
				</div> <!-- cd-faq-content -->
			</li>

			

			
			
		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
     </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->






</body>
</html>
{% endblock %}









